body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2c2c2c; /* Dark grey background */
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Ensure it's fully rounded */
  border: 3px solid #2c2c2c;
  background: linear-gradient(135deg, #1174dd, #266ff6, #350e47 62%, #b91169 89%);
  box-shadow: 0px 0px 100px -50px black;
  animation: animate 1s linear infinite;
}

.loader::before {
  position: absolute;
  content: "";
  background: #2c2c2c;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%; /* Ensure it's fully rounded */
  border: 3px solid #2c2c2c;
  box-shadow: inset 0px 0px 100px -70px #111;
}

@keyframes animate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}